<!-- <form (ngSubmit)="submitQuote()" #quoteForm='ngForm'>
    <div class="form-group">

        <label for="quote">Quote</label>
        <input type="text" required class="form-control" id="quote" [(ngModel)]='newQuote.quote!' name="quote" #quote='ngModel' required>
        <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
            <p>The Quote is Required</p>
        </div>
       

    </div>
    <div class="form-group">

        <label for="author">Author</label>
        <input type="text" required class="form-control" id="author" [(ngModel)]='newQuote.author!' name="author" #author='ngModel' required>
        <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
            <p>The name of the Author is Required</p>
        </div>
    </div>
    <div class="form-group">

        <label for="sender">Sender</label>
        <textarea class="form-control" id="sender" rows="4" [(ngModel)]="newQuote.sender!" name="author" #sender='ngModel' required></textarea>
        <div [hidden]="sender.valid || sender.pristine" class="alert alert-danger">
            <p>Please put your name</p>
        </div>
    </div>
    <div class="form-group">
        <label for="date">Date</label>
        <input type='date' id="date" [(ngModel)]="newQuote.dateSent!" #date ='ngModel' required>
        <div [hidden]="date.valid || date.pristine" class="alert alert-danger">
            <p> Date is required</p>
        </div>

    </div>
    <button type="submit" class="btn btn-success">Add Quote</button>
</form> -->