<form (ngSubmit)="submitQuote()" #goalForm='ngForm'>
    <div class="form-group">

        <label for="name">Quote</label>
        <input type="text" required class="form-control" id="name" [(ngModel)]='newQuote.quote' name="name" #name='ngModel' required>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            <p>The Quote is Required</p>
        </div>
       

    </div>
    <div class="form-group">

        <label for="description">Author</label>
        <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuote.author" name="description" #description='ngModel' required></textarea>
        <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
            <p>The name of the Author is Required</p>
        </div>
    </div>
    <div class="form-group">

        <label for="description">Sender</label>
        <textarea class="form-control" id="description" rows="4" [(ngModel)]="newGoal.Sender" name="description" #description='ngModel' required></textarea>
        <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
            <p>Please put your name</p>
        </div>
    </div>
    <div class="form-group">
        <label for="complete">Date</label>
        <input type='date' id="complete" [(ngModel)]="newGoal.date" #completeDate ='ngModel' required>
        <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
            <p> Date is required</p>
        </div>

    </div>
    <button type="submit" class="btn btn-success">Add Quote</button>
</form>