<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>this are my quotes</h1>
                <ul>
                    <div class="" >
                        <div id="quote- box" *ngFor="let quote of quote; let i = index">
                            <li >
                                <div class="quote col-sm-6 ">"{{quote.quote}}"</div>
                                <!-- <div class="author col-sm-6" style="display: inline;">by {{quote.author}}</div>  -->
                            </li>
                        </div>
                    </div>
                    
                    
                </ul>
            </div>
            

        </div>
    </div>
</body>
</html>
