@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/dist/css/bootstrap-grid.css";
.quote{
    background-color: rgb(81, 255, 0);
    color: white;
    margin: 10px;
    -webkit-box-shadow: 10px -1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px -1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px -1px 5px 0px rgba(0,0,0,0.75);

}
h1{
    color: blue;
}