<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="background-color: aqua;" *ngFor="let guote of quote">
            <ul>
                <li *ngFor="let quote of quote">
                    <div class="quote col-sm-6">"{{quote.quote}}"</div>
                    <!-- <div class="author col-sm-6" style="display: inline;">by {{quote.author}}</div>  -->
                </li>
            </ul>
            </div>
            <div class="col-sm-6" style="background-color: aqua;">33</div>

        </div>
    </div>
</body>
</html>
