<div class="container">
    <div class="row">
        <div class="col">
            <p><strong>Quote Author :</strong> {{quote.author}}</p>
            <p><strong>Quote was sent by :</strong>  {{quote.sender}}</p>
            <p><strong>The quote was sent on :</strong> {{quote.dateSent|date}}</p>
            <p><strong>Time passed since the quote was sent is :</strong> {{quote.dateSent|dateCount}} days</p>
            <button class="btn btn-danger" (click)="deleteQuote(true)">Delete Quote</button>

        </div>
    </div>
</div>

